.DS_Store
node_modules
.vscode/pnpify

packages/**/esm
packages/**/out
packages/**/dist
packages/**/browser
packages/**/coverage

examples/**/lib
examples/**/dist
examples/**/.env
examples/**/.webpack
examples/**/yarn.lock
examples/**/.env.json
examples/**/.env.yaml
examples/**/*.tfstate
examples/**/.terraform
examples/**/*.tfstate.*
examples/**/.serverless
examples/**/node_modules
examples/**/*.private.json
examples/**/token.json
examples/**/credentials.json
examples/**/package-lock.json
examples/**/local.settings.json
examples/**/.terraform.lock.hcl
examples/**/terraform/config/*.tfvars
!examples/**/terraform/config/example.tfvars