.DS_Store
node_modules
.vscode/pnpify
packages/**/esm
packages/**/out
packages/**/dist
packages/**/browser
packages/**/coverage
examples/**/yarn.lock
examples/**/node_modules
examples/**/package-lock.json
